<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personal.gatitos">
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fondogato"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Interfazactivity" >
        <intent-filter><action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"></category> </intent-filter> </activity>

        <activity android:name=".Activities.Camisa2activity" />
        <activity android:name=".Activities.Camisa3activity" />
        <activity android:name=".Activities.Camisa4activity" />
        <activity android:name=".Activities.Camisetasmenu" />
        <activity android:name=".Activities.Historyactivity" />
        <activity android:name=".Activities.Menuproductos" />
        <activity android:name=".Activities.Sueter1activity" />
        <activity android:name=".Activities.Sueter2activity" />
        <activity android:name=".Activities.Sueter3activity" />
        <activity android:name=".Activities.Sueter4activity" />
        <activity android:name=".Activities.Suetersmenu" />

        <activity android:name=".Activities.Creditsactivity" />
        <activity android:name=".Activities.Camisa1activity" />
        <activity android:name=".Activities.llamada"/>
    </application>

</manifest>